
* {
    font-size: 16px;

}

html, 
body {
    height: 100%;
    font-family: 'Lato';

}

h5 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 7% 0 2%;
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot');
  src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff') format('woff'),
    url('../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


.answer-inline {
    display: inline-block;
    border: 1px solid red;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url() no-repeat;
    background-size: cover;

}

#overlay-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url() no-repeat;
    background-size: cover;
    background: linear-gradient(
      rgba(255,255, 255, .5), 
      rgba(255,255, 255, .5));
/*  -webkit-filter: opacity(.7);
  filter: opacity(.7);*/
    -webkit-filter: blur(5px);
  filter: blur(5px);
}

.container {
    height: 100%;
    position: relative;
}
.container h1 {
  color: white;
  text-align: center;
  padding-top: 6rem;
  font-size: 55px;
  font-weight: 400;
}

.header {
    font-size: 6rem;
    padding-top: 6rem;
}

.questions {
    bottom: 3rem;
    width: 12rem;    
    position: absolute;
    position: fixed;
    left: 50%;
    margin-left:-7rem;
}

.answer {
    height: 30%;
    font-size: 2rem;
    padding: 1rem 0rem 1rem 4rem;
    border-bottom: solid gray .5px;
}

#correct-answer {
  font-size: 177px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 900;
}

@media only screen and (min-width: 1600px)  {
   #correct-answer {
    font-size: 300px;
  }
}

#a1 {
    background-color: #ffffff;
    border-radius: 4px 4px 0 0;
}

#a2 {
    background-color: #ffffff;
}

#a3 {
    background-color: #ffffff;
}

.scoreboard {
    width: 100%;
    height: 100%;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1000;
    display: none;
    font-size: 4rem;
    font-family: 'lato';
    text-align: center;
    padding: 10rem 0rem;
    background: linear-gradient(
      rgba(255,255, 255, 1), 
      rgba(255,255, 255, 1));
    background-size: cover;
    background-repeat: no-repeat;
}

.scoreboard {
  font-size: 70px;
}

.scoreboard h3 {
/*  font-size: 18px;
  padding-bottom: 30%;
  padding-top: 10%;*/
  font-weight: 300;
}

.overlay {
    width: 100%;
    height: 100%;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1000;
    display: none;
    font-size: 4rem;
    font-family: 'lato';
    text-align: center;
    padding: 0rem 0rem;
    background: linear-gradient(
      rgba(255,255, 255, 1), 
      rgba(255,255, 255, 1));
    background-size: cover;
    background-repeat: no-repeat;
}

/*
.blanket {
    width: 100%;
    height: 100%;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1000;
    display: none;
    font-size: 4rem;
    font-family: 'lato';
    text-align: center;
    padding: 0rem 0rem;
    background: linear-gradient(
      rgba(255,255, 255, .5), 
      rgba(255,255, 255, .t));    background-size: cover;
    background-repeat: no-repeat;
}
*/
 a {
    text-decoration: none;
    color: black;
}

.overlay h4 {
    font-size: 2rem;
    padding-top: 2rem;
}

#next {
/*  border-radius: 100px;
  padding: 50px 20px;
  margin-bottom: 2rem;*/
  width: 150px;
  height: 130px;
  margin-top: 5%;
  border: 3px solid #fff;
  color: #fff;

}

}
#newGame {
  width: 14rem;
  border: none;
  color: #1564A6;
  margin-top: 8%;
  }


.button {
  display: inline-block;
  background-color: transparent;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
/*  width: 150px;
*/  transition: all 0.5s;
  cursor: pointer;
  margin: 2rem;
    border: none;
    color: #1564A6;


}

.button.main {
  display: inline-block;
/*  border-radius: 6px;
*/  border: 3px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  padding: 15px;
  width: 17rem;
  cursor: pointer;
  margin: .5rem 0;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
/*  opacity: .9;
*/
}

.button.main:hover {
  letter-spacing: .09rem;  
  transition: 0.7s;
/*  font-size: 27px;
*/  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all .3s;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
/*    text-transform: uppercase;
*/  letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/* Button 1 */
.btn-1 {
  border: 3px solid #fff;
  color: #fff;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
  color: transparent;
  background: #fff;
}
/* Button 1c */
.btn-1c:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1564A6;
      border-radius: 4px;

}

.btn-1c:hover,
.btn-1c:active {
    color: white;
}

.btn-1c:hover:after,
.btn-1c:active:after {
    width: 100%;
}

.text-center {
  text-align: center;
}

.userScore {
  margin: 2rem;
  font-size: 60%;
  font-weight: bold;
}

.status {
  border-radius: 150px;
  padding: 1.1rem .5rem;
  margin-left: 3rem;
  color: #fff;
  z-index: 9999;
  font-size: 24px;
  border: 3px solid #fff;
  line-height: .2;
  position: absolute;
  bottom: 3rem;
  left: 0;
}

.status h4.one {
  padding-left: .8rem;
  font-size: 36px;
}

.status h4.two {
  padding-left: 1.5rem;
}

/*Icon Arrow*/

.icon-arrow-right:before {
  content: "\e00d";
}

/* Button 4 */
.btn-4 {
  border-radius: 50px;
  border: 3px solid #fff;
  color: #fff;
  overflow: hidden;
}

.btn-4:active {
  border-color: #17954c;
  color: #17954c;
}

.btn-4:hover {
  background: #24b662;
}

.btn-4:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.5;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-4:active:before {
  color: #17954c;
}

/* Button 4c */
.btn-4c:before {
  left: 70%;
  opacity: 0;
  top: 0;
}

.btn-4c:hover:before {
  left: 80%;
  opacity: 1;
}

.icon {
  margin-top: 5%;
  padding: 2rem;
/*  border: 3px solid #fff;
  width: 3rem;
  border-radius: 100px; */
  font-size: 80%;
  position: relative;
}



/* Effect 12: circle */
.cl-effect-12 a::before,
.cl-effect-12 a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(255,255,255,0.3);
  border-radius: 50%;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect-12 a::after {
  width: 90px;
  height: 90px;
  border-width: 6px;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

/*.right-sweep {
  display:inline-block;
  position:relative;
  margin:0.4em;  padding:1em;
  cursor:pointer;
  background:#e1e1e1;  color:white; 
  z-index:0;

}
.right-sweep:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #1564A6;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}
.right-sweep:hover:before{transform: scaleX(1);}
}*/

